body {
    background-color: rgba(0, 0, 0, 0.1);
}

#spinner_wrapper {
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    left: 0;
    padding-top: 24%;
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    padding-top: 2%;
}

h2 {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 2%;
}
